@using ScavengerHunt.Web.Models
@model Team

@{
    ViewBag.Title = Resources.Teams;
}

@if (Model != null)
{
    @Html.Partial("StatusPartial")
<hr/>
}
<h2>@Resources.CurrentRankings</h2>
@Html.Action("IndexPartial", "Team")