@{
    ViewBag.Title = Resources.Contact;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2500 boul de l'université, AGEG C1-2035<br />
    Sherbrooke, QC J1K 2R1<br />
    <abbr title="Phone">Tel:</abbr>
    819-569-3776
</address>
