
@{
    ViewBag.Title = "Rules";
}

<h2>@Resources.Rules</h2>

<div class="row">
    <ol>
        <li>Les participants ne doivent pas partager les solutions aux défis.</li>
        <li>Les administrateurs du site ne peuvent pas prendre part aux défis.</li>
        <li>Ne pas demander les administrateurs pour les solutions.</li>
        <li>Si vous trouvez un bug ou vous croyez qu'un défi est injuste, écrivez nous sur notre page facebook.</li>
        <li>Aucun bruteforce sur le site sera toléré.</li>
        <li>Amuser vous et bonne chance!</li>
    </ol>
</div>
