@model ScavengerHunt.Web.Models.Stunt

@{
    ViewBag.Title = Resources.Description;
}

<h2>@Model.Title</h2>

<p>@Html.Markdown(Model.ShortDescription)</p>

<hr>

<p>@Html.Markdown(Model.LongDescription)</p>

    @if (Model.HasSlideshow) { 
        <iframe id='iframe' src='@Model.Slideshow' scrolling='no' frameborder='0' width='600' height='400'></iframe>}