@model ScavengerHunt.Web.Models.Team

<a href="/User/Index/?id=@Model.Id">Model.Name</a>
@if (Model.Tagline != null)
{
    <br/><span class="text-muted" style="font-size: smaller;">@Model.Tagline</span>
}